<div class="profile-photo">
  <img src="<%= @fan.photo %>">
</div>
<div class="fan-info">
  <h2><%= @fan.name %>, <%= @fan.age %></h2>
  <h3><%= @fan.location %></h3>
  <%= link_to 'Home', root_path, class: "nav-button" %>
  <%= link_to 'Edit Profile', edit_fan_path(@fan), class: "nav-button" %>
  <!-- <%= link_to 'Delete Profile', @fan, class: "nav-button", method: :delete %> -->
</div>

<%= link_to new_fan_post_path(@fan) do %>
<div class="new-post-box">
  CREATE NEW POST
</div>
<% end %>

<div class="shoe-wrapper">
    <% @posts.each do |post| %>
      <div class="shoe-container">
          <%= link_to fan_post_path(post.fan_id, post) do %>
            <img src= "<%= post.shoe_photo %>" class="shoe-photo-resize">
          <% end %>
          <p class= "shoe-details">
            <%= post.shoe_name %>
            <%= post.fan_message %>
            <% if (fan_signed_in? && (current_fan.id == post.fan_id)) %>
              <%= link_to "Edit Post", edit_fan_post_path(post.fan_id, post) %>
              <!-- <%= link_to "Delete Post", [@fan, post], method: :delete %> -->
            <% end %>
          </p>
      </div>
      <% end %>
</div>
