<%= form_for [@fan, @post] do |f| %>
  <div class="form-group">
    <%= f.label :shoe_name %>
    <%= f.text_field :shoe_name, class: "input-style" %>
  </div>
  <div class="form-group">
    <%= f.label :shoe_photo %>
    <%= f.text_field :shoe_photo, class: "input-style" %>
  </div>
  <div class="form-group">
    <%= f.label :fan_message %>
    <%= f.text_field :fan_message, class: "input-style" %>
  </div>
  <%= f.submit class: "form-button-style" %>
<% end %>
