<h2>Welcome To Tinker's World</h2>
<p>Share your favorite shoe designs from Tinker Hatfield</p>


  <% @posts.each do |post| %>
<div class= "shoe_container">
       <p class= "shoe_details">
        <%= post.shoe_name %>
        <br>
        <%= post.fan_message %>
        <% if (fan_signed_in? && (current_fan.id == post.fan_id)) %>
          <%= link_to "Edit Post", edit_fan_post_path(post.fan_id, post) %>
        <% end %>
        <br>
      </p>
        <br>
        <%= link_to fan_post_path(post.fan_id, post) do %>
          <img src= "<%= post.shoe_photo %>" class="shoe_photo_resize">
       <% end %>

</div>
  <% end %>
