<!DOCTYPE html>
<html>
  <head>
    <title>Tinker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Sign Up", new_fan_registration_path %>
    <%= link_to "Sign out", destroy_fan_session_path, :method => :delete %>
    <%= link_to "Login", new_fan_session_path %>
    <%= yield %>
  </body>
</html>
